<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--style-->
  <style>
    .submit_form {

      text-align: center;
      padding: 3%;
      background: rgb(174, 203, 236);
      border-radius: 25px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 0.36);
    }

    #add_button {
      background-color: #ffc107;
      color: black;
      border-color: #383d3f;
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      /* line-height: 1.33; */

    }

    #mybutton {
      position: fixed;
      bottom: 25px;
      right: 25px;
    }

    #title_error,
    #details_error {
      color: red;
    }
  </style>

</head>

<body class="container-fluid">

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <div style="text-align: center; padding: 20px;">
    <h1>TO-DO LIST</h1>
  </div>


  <div class="row">

    <div class="col-md-8">
      <div class="card-deck">
        {% for i in list %}
        <div class="card bg-warning">
          <div class="card-header">{{i.title}}</div>
          <div class="card-body">
            <p class="card-text">{{i.details}}</p>
          </div>
          <div class="card-footer">
            <form action="/del/{{i.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
              {% csrf_token %}
              <button value="remove" type="submit" class="btn" style="float: right;"><i
                  class="fa fa-trash"></i></button>
            </form>
          </div>
        </div>
        {% endfor%}
      </div>

    </div>

    <!-- Button trigger modal -->
    <div id="mybutton">
      <button id="add_button" type="button" class="btn btn-primary float-right" data-toggle="modal"
        data-target="#exampleModal">
        +
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add To Do</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form onsubmit="return validate()" method="POST" name="todo_form">
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-sm-2" for="title">Title:</label>
                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control" id="task_title" placeholder="Enter Title">
                </div>
                <div id="title_error"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="task_details">Details:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="task_details" name="details"></textarea>
                </div>
                <div id="details_error"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script type="text/javascript">
  // Form validation code will come here.
  function validate() {
    var title = document.getElementById('task_title');
    var details = document.getElementById('task_details');

    var submit = true;

    if (title.value == "") {
      document.getElementById('title_error').innerHTML = "Title Required!"
      title.focus();
      submit = false;
    }
    if (details.value == "") {
      document.getElementById('details_error').innerHTML = "Details Required!"
      details.focus();
      submit = false;
    }
    return submit;
  }
</script>

</html>